

.btnset{
    margin: 10px;
}


.level-button {
    padding-left: -26px;
    display: block;
    width: 100%;
    height: 50px;
   // margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;    
}
 
 
 
 
 
 
 
 
 
 




