

.maindiv{
    margin:10px;
}






.setrw {
    border-bottom: 1px solid #e5e5e5;
    margin: 12px 0;
    padding-bottom: 8px;
    img{
        border-radius: 10px;
        width: 100%;
        // object-fit: contain;
        border: 1px solid lightgray;
        height: 85px;
    }
    p.p1 {
        margin: 0;
    }
  }
.p2{
    font-size: 14px;
    margin: 6px 0px;
    color: gray;
}

.p3{
    font-size: 14px;
    margin: 6px 0px;
    color: gray;
}


.f30{
    font-size: 20px;
    margin-left: 11px;
}