
.maindiv{
margin:13px;

    .imgset{
        // margin-left: 40px;
        width:100%;
        // height: 185px;
    }

}



//------------------


.eventDetails{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    h4{
        color: #ffffff;
  font-size: 16px;
    margin: 0;
    height: 62px;
    position: absolute;
    z-index: 99;
    bottom: 0;
    width: 100%;
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px -62px 20px -15px inset;
    display: flex;
    justify-content: center;
    align-items: end;
    }
}
