
// .notification{
//     color: var(--ion-color-primary);
//     position: relative;
//     ion-badge{
//         position: absolute;
//         right: -5%;
//         top: -7px;
//         font-size: 10px;
//         border-radius: 50px;
//         width: 20px;
//         height: 20px;
//         padding: 6px 4px;
//     }
// }

// // card align


// // card align

// .size_set{
//   //   height: 267px;
//   // width: 300px;
//   border-radius: 20px;
//   word-spacing: 2px;
//   background: white;
//   text-align: left;
//   --overflow: visible!important;
//   overflow: unset !important;
//   contain: unset;
//   padding: 20px 20px 12px;
//   margin: 0rem;
//   margin-top: 2.5rem !important;
 
//   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px!important;
//     -webkit-box-shadow: none;
//     box-shadow: none;
//   ion-button{
//     --box-shadow: none!important;
//     font-size: 14px;
//     text-transform: capitalize;
//     font-weight: normal;
//     // --border-radius: 50px;
//     // --padding-start: 1.5em;
//     // --padding-end: 1.5em;
//   }
// }
 
// .tit_set{
//   font-size: 0.9rem;
//   color: black;
//   font-weight: 500;
//   padding-top: 14px; 
//   margin-top:20px;
// }
// .set_botm{
//   border-bottom: 1px dashed #f3f3f3;
//   font-size: 14px;
//   padding-bottom: 6px;
//   margin: 0;
//   display: flex;
//   align-items: center;
// }

// .fees{
// font-size: 16px;
// margin:5px;
// }

// .img_align{
//     padding: 5px;
//     height: 70px !important;
//     width: 70px !important;
//     background: #ffffff !important;
//     border-radius: 10px !important;
//     position: absolute !important;
//     left: 20px;
//     top: -14%;
//     border: 1px solid #c9c9c9;
//   }

//  .bookMark{
//       padding: 5px;
//       background: #ffffff !important;
//       border-radius: 20px !important;
//       position: absolute !important;
//       right: 10px;
//       top: 6%;
//       border: 1px solid #746ac0;
//   }
//   .backicon{
//     margin-top: 5px;
//   }



.notification{
  color: var(--ion-color-primary);
  position: relative;
  ion-badge{
      position: absolute;
      right: -5%;
      top: -7px;
      font-size: 10px;
      border-radius: 50px;
      width: 20px;
      height: 20px;
      padding: 6px 4px;
  }
}

// card align

.size_set{
//   height: 267px;
// width: 300px;
border-radius: 20px;
word-spacing: 2px;
background: white;
text-align: left;
--overflow: visible!important;
overflow: unset !important;
contain: unset;
padding: 20px 20px 12px;
margin: 0rem;
margin-top: 2.5rem !important;

box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px!important;
  -webkit-box-shadow: none;
  box-shadow: none;
ion-button{
  --box-shadow: none!important;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: normal;
  // --border-radius: 50px;
  // --padding-start: 1.5em;
  // --padding-end: 1.5em;
}
}

.tit_set{
font-size: 0.9rem;
color: black;
font-weight: 500;
padding-top: 14px; 
margin-top:20px;
}
.set_botm{
border-bottom: 1px dashed #f3f3f3;
font-size: 14px;
padding-bottom: 6px;
margin: 0;
display: flex;
align-items: center;
}

.fees{
font-size: 16px;
margin:5px;
}

.img_align{
  padding: 5px;
  height: 70px !important;
  width: 70px !important;
  background: #ffffff !important;
  border-radius: 10px !important;
  position: absolute !important;
  left: 20px;
  top: -14%;
  border: 1px solid #c9c9c9;

}



.bookMark{
    padding: 5px;
    background: #ffffff !important;
    border-radius: 20px !important;
    position: absolute !important;
    right: 10px;
    top: 6%;
    // border: 1px solid #746ac0;
}

.backicon{
margin-top: 5px;
}

// ion-icon.active {
// color: blue; /* Change this to the desired color */
// }


.img_alignn.shortlisted {
  background-color: #ffc107; /* Background color for shortlisted item */
}

ion-icon.active {
  color: blue; /* Color for active bookmark (when shortlisted) */
}


.img_alignn{
  padding: 5px;
 background: #ffffff !important;
 border-radius: 20px !important;
 position: absolute !important;
 right: 20px;
    top: 14px;
 border: 1px solid #746ac0;
 width: 26px;
 height: 26px;
}