.img{
    position: absolute;
    top: 23%;
}


.px-12{
    padding: 0 12px!important;
}
.py-12{
    padding: 12px 0!important;
}
.pt-12{
    padding-top:12px;
}
.headtxt{
    font-weight: 500!important;
    
}
.sbtxt{
    font-size: 14px;
    font-weight: 300!important;
}
.ovrallrating{
    h1{
        font-weight: 600;
    }
    .p, .starratex{
        margin: 0;
        color: gray;
    }
    .blutxt{
        color: #0083dc;
    }
    .starrate{
     margin-right: 3px;
    }
    .rtvalue{
        margin-right: 10px;
    }
    .vertxt{
        border-top: 1px solid gray;
        margin: 12px 0px;
        padding-top: 10px;
        ion-icon{
            color: gray;
            margin-left: 4px;
        }
    }
    
}
::ng-deep .mat-progress-bar-fill::after {
    background-color: #FFC107;
}
.populartxt{
    margin-top: 18px;
    h2{
        font-weight: 500;
    }
}
.segmentStud{
    margin-top: 12px;
  }
  .likeDis{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .like{
        color: green;
    }
    .dislike{
        color: red;
    }
    p{
        color: #0083dc;
    }
    span{
        vertical-align: middle;
    }
  }
  ion-segment-button {
    --color-checked: #ffffff;
    --indicator-height: 0px;
    font-size: 14px;
    // --background-checked: #88d834;
    --border-radius: 50px;
    min-height: 0;
    height: 38px;
    text-transform: capitalize;
    margin: 0px 3px;
    border: 1px solid #f1f1f1;
}
.m-12{
    margin: 12px;
}
.highligtbox{
    margin-top: 12px;
    .aliceblue{
        background: aliceblue;
        margin: 0;
        padding:12px;
        border-radius: 6px;
    }
    .pinklight{
        background: #f9ecee;
        margin: 0;
        padding:12px;
        border-radius: 6px;
        margin-top: 12px;
    }
    
}
.rates{
    font-size: 13px;
    ion-icon{
        color: #11c918;
        color: #11c918;
        font-size: 19px;
      vertical-align: bottom;
    }
}
.border-y{
    margin-bottom: 14px;
    padding: 0px 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}




.setspn{
    color:blue;
}

.setnotification{
    width:360px;
    height: 370px;
    .settitle{
        text-align: center;
    background: #a4affe;
    position: relative;
    top: -14px;
    height: 35px;
    }
    p{
        color:#0083dc;
    }
}

.star-icon {
    color: #FFC107; 
  }
  
  .HeadTxt{
    
        margin-left:12px;
    
  }




.purlegrad{
    padding-bottom: 2rem;
    background-image: radial-gradient(circle farthest-corner at -14.3% -17.5%, rgba(245, 168, 168, 0.5) 4%, rgba(164, 168, 248, 0.5) 100.2%)!important;
    border-radius: 14px!important;
    p{
        margin: 6px 0px;
        align-items: center;
        display: flex;
    }
}

.rctxt{
    margin-bottom: 0 !important;
    font-size: 15px;
    justify-content: center;
    font-weight: 500;
ion-icon{
    border: 1px solid lightgray;
    background: #fff;
    padding: 8px;
    font-size: 18px;
    margin-left: 8px;
    border-radius: 50px;
    color: #8f8f8f;
 }
}
.sctwo{
    padding: 12px 12px 25px;
    p{
        margin: 6px 0px;
        align-items: center;
        display: flex;
    }
}

.thirdsec{
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.5rem 0.5rem 2rem;
    margin-bottom: 2rem;
    p{
        margin: 6px 0px;
        align-items: center;
        display: flex;
    }
}
.imgtxt{
    display: flex;
    align-items: center;
    img{
        width:25px;
        margin-right: 8px;
       // flex-shrink: 0;
      //  height: 25px;
        //margin-top: 1rem;
    }
}
.my-10{
    margin: 10px 0px;
}
.blutxt{
    color: #0083dc;
}
ion-segment-button.ion-activated {
    --background: #3880ff; /* Active background color */
    --color: #fff; /* Active text color */
  }
  ion-segment-button {
    --background: #f4f5f8; /* Default background color */
    --color: #000; /* Default text color */
    --indicator-color: #3880ff; /* Indicator color when active */
  }
  
  ion-segment-button .star-icon {
    color: inherit; /* Ensure the icon color inherits from the text color */
  } 
  .seg-btn.active {
    background-color:#88d834; /* Change to your desired active background color */
    color: #fff; /* Change to your desired active text color */
  }



//   conselling section

.conselling{
    background: rgb(165 88 236 / 22%);
    border-radius: 21px;
    margin: 1.5rem 0;
    padding: 10px;
    .setbtn{
        text-align: center;
        ion-button{
            --background: #673AB7;
            --border-radius: 50px;
            --box-shadow: none;
            text-transform: capitalize;
        }
    }
    img{
        border-radius: 10px;
    }
    h3{
        font-weight: 500;
        font-size: 16px;
    }
    ul{
        padding-left: 20px;
        margin: 10px 0px 16px;
    }
}

.boomark{
    --color: gray;
    --border-color: #cfcfcf;
}
.spna{
    color: var(--ion-color-secondary);
    border-right: 1px solid lightgrey;
    font-size: 16px;
    padding-right: 6px;
    margin-right: 6px;
}


.size_set {
    border-radius: 8px;
    word-spacing: 2px;
    background: white;
    text-align: left;
    --overflow: visible !important;
    overflow: unset !important;
    contain: unset;
    padding: 14px;
    box-shadow: rgba(205, 211, 214, 0.8) 0px 8px 25px;
}

// .shortlisted ion-icon {
//     color: blue !important; /* Optional - to ensure icon is blue */
//   }


  .modal-content {
    padding: 20px;
  }
  
  ion-modal {
    --width: 90%;
    --height: 90%;
    --border-radius: 8px;
  }

  .modelhead{
    padding:16px 16px 0 ;
    ion-icon{
      font-size: 25px;
      margin-left: auto;
      display: block;
      margin-bottom: 6px;
    }
  }
  
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 12px;
  }
  
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.3em 0px 10px 0px !important;
   
    }
  ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
  }
  
  .w-100{
    width:100%;
    
  }
  
  .centbtn{
    margin: auto;
    display: block;
  }


  .img_alignn.shortlisted {
    background-color: #ffc107; /* Background color for shortlisted item */
  }
  
  ion-icon.active {
    color: blue; /* Color for active bookmark (when shortlisted) */
  }
  