.btnset{
    margin: 10px;
}


.level-button {
    display: block;
    width: 100%;
    height: 35px;
    margin: 3px 0;
    /* background-color: #3f51b5; */
    /* color: #fff; */
    border: 1px solid #152b4a;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
}


h4{
    margin: 10px;
}


.level-button {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // width: 100%;
    // background-color: #f0f0f0; /* Default unselected background color */
    // border: none;
    // padding: 10px;
    // border-radius: 5px;
    // transition: background-color 0.3s ease; /* Smooth transition */

    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 14px;
    color: #000;
    min-height: 50px;
    text-align: center;
    line-height: 1.2;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .level-button.selected {
    background-color: #88d834;
    color: #fff;
  }
  .right-icon {
    float: right;
    font-size: 18px;
    margin-left: 6px;
  }
  .sbbtn{
    margin: 20px 10px;
    height: 42px;
  }