
ion-input{
    border: 1px solid ;
    width: 80%;
    border-radius: 8px;
}
 .error{
  color:red;
  list-style: none;  
} 
.login{
  margin-bottom: 20px;
  text-align: center;
  height: 60px;   
}

.main-div{
    background: ('/../../src/assets/icon/simple-img.png');
}
.setimg{
  text-align:right;
}
.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  .example-right-align {
    text-align: right;
  } 
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
.icon{
  font-size: 20px;
  padding-right: 10px;
  color:rgb(99, 92, 92);
}
.btn{
  width: -webkit-fill-available;
  height: 44px;
  background-color: #007fdc !important;
  margin: 0px 16px;
  --border-radius: 50px;
  border-radius: 50px;
  box-shadow: none !important;
}
.span{
  color: blue;
}
.p1{
    padding-left: 40%;
    color:gray;
    margin-top: -13px
  }
.matfield{
  text-align: center;
}
.w-75{
  width:90%;
}



::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.3em 0px 10px 0px !important;
  }
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.setimg2{
  position: fixed;
 bottom: 0%;
 left: 0%;
 z-index: -1;
}



//ion model otp section css

.otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.otp-input {
  text-align: center;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}



page-otp-verification {
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  ion-grid {
    max-width: 400px;
    width: 100%;
  }

  ion-item {
    margin-bottom: 20px;
  }
}

::ng-deep .mat-checkbox.termscon{
  margin: 0px 20px 10px;
}
::ng-deep .mat-checkbox.termscon .mat-checkbox-inner-container {
  display: inline-block;
  height: 16px;
  line-height: 0;
  margin-right: 8px;
  order: 0;
  position: relative;
  white-space: nowrap;
  width: 16px;
  flex-shrink: 0;
  margin-top: 2px;
}
::ng-deep .mat-checkbox.termscon .mat-checkbox-layout .mat-checkbox-label {
  line-height: 20px;
}
.termstext{
  font-size: 14px;
  text-wrap: wrap;
  display: block;
  text-align: left;
}