
// enquiryForm  css


  
  
.w-100{
  width: 100%;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.3em 0px 10px 0px !important;
  }
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
::ng-deep .mat-form-field-outline {
  background: #fff;
}


.main-div {
width: 100%;
}


.w-75{
  width:100%;
}









