.maindiv{
    // padding: 10px;
    ion-card{
        margin: 0;
        --box-shadow:none;
        box-shadow:none;
        border-radius: 12px;
        img{
            width:100%;
            display: block;
        }
    }
    .titleset{
        margin: 6px;
        text-align: center; 
    }
    h5{
        background-color: aliceblue;
        padding: 8px 10px;
    }
    .articlelist{
    img{
        border: 1px solid lightgray;
        height: 70px;
        width: 100%;
        border-radius: 8px;
       }
     }
    p{
        margin: 0;
        font-size: 14px;
    }
    ion-row{
        border-bottom: 1px solid lightgray;
        margin-bottom: 12px;
        margin: 10px;
    }
}