
.profilehead{
    margin-top: 1rem; 
    height: 85px;
    --background: var(--ion-color-primary);
    ion-avatar{
        width: 60px;
        height: 60px;
        border: 2px solid #ffffff;
    }
    h6{
        font-size: 18px;
        font-weight: 500;
        color: #fff;
    }
}

.profbox{
  ion-list{
    margin: 1rem 10px;
    border-radius: 10px;
    padding: 0;
    background: var(--ion-color-primary);
  }
  ion-list ion-item:last-child {
    --border-width: 0;
  }
 
}