

// .img{
    // position: absolute;
    // top: 23%;
// }

.notification{
    color: var(--ion-color-primary);
    position: relative;
    ion-badge{
        position: absolute;
        right: -5%;
        top: -7px;
        font-size: 10px;
        border-radius: 50px;
        width: 20px;
        height: 20px;
        padding: 6px 4px;
    }
}

.filtermlty{
    border: 1px solid #a5a5a5;
    border-radius: 50px;
    display: flex;
    margin: 10px;
    padding: 0px 4px 0px 12px;
    background: #ffffff;
    ion-input{
      --box-shadow: none;
      --border-radius: 50px;
      --background: transparent;
    }  

}
.filtermlty {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .filtermlty input[type="text"] {
    padding: 10px;
    border: 2px solid #11171a;
    border-radius: 5px;
    width: 100%;
    margin-right: 10px;
  }
  
  .filtermlty ion-icon {
    position: absolute;
    right: 10px;
    color: #555;
    cursor: pointer;
  }

  .setresulttitle{
    padding:6px 10px;
    color: #000000;
    font-weight: 500;
    background: aliceblue;
  }

  .filterlist{
    padding: 0;
    margin: 0px 10px 10px;
    ion-item{
      --padding-start: 0;
    }
    p{
      margin: 6px 0px;
      color: black;
      font-size: 15px;
    }
  }