
ion-card{
    ion-card-header{
        padding:0;
    }



.cardtitset{
    text-align: center;
      background-color: rgba(196, 218, 250, 1) !important;
      padding: 10px;
      margin-bottom: 10px;
      color: black !important;
  }
  
}



