ion-item{
    --padding-start: 0;
    padding-inline-end: 0;
    --background: transparent;
  }




  .trending{
    background: #f2f9ff;
    padding: 20px 10px;
    border-radius: 16px;
    margin: 0px 10px 10px;
    border: 1px solid #b6ddff;
  
  .setlist{
    padding: 10px;
      border: 1px solid #b8b88a;
      border-radius: 15px;
      margin: 10px;
  }
  
  ion-item{
    --padding-start: 0;
    padding-inline-end: 0;
    --background: transparent;
  }
  h4{
    margin-top: 0;
  }
  
  }