

.q-papers{
    margin:10px;
    .papelist{
        margin: 10px 0;
        align-items: center;
        background: aliceblue;
        border-radius: 8px;
        padding: 4px;
        border: 1px solid #eef2f5;
    }
    img{
        margin: auto;
        display: block;
    }
    ion-button{
        text-transform: capitalize;
    }
    .desc{
        color: #979799;
    }
}