.maindiv{
    // padding: 10px;
    ion-card{
        margin: 0;
        --box-shadow:none;
        box-shadow:none;
        border-radius: 12px;
        img{
            width:100%;
            display: block;
        }
    }
    
    h5{
        background-color: aliceblue;
        padding: 8px 10px;
    }
    .articlelist{
    img{
        border: 1px solid lightgray;
        height: 70px;
        width: 100%;
        border-radius: 8px;
       }
     }
    p{
        margin: 0;
        font-size: 14px;
    }
    ion-row{
        border-bottom: 1px solid lightgray;
        margin-bottom: 12px;
        margin: 10px;
    }
}

.description{
    text-align: justify;
    h4 {
        font-size: 14px!important;
    }
}

.share-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  color: #3880ff; /* Ionic primary color */
  font-size: 14px;
  cursor: pointer;
}

.share-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  color: #3880ff; /* Ionic primary color */
  font-size: 14px;
  cursor: pointer;
}

.share-btn ion-icon {
  font-size: 20px;
}
