
.notification-list{
    padding: 0;
    margin: 1rem 10px;
    --background: aliceblue;
    background: aliceblue;
    
  ion-item{
    margin-bottom: 10px;
    border-radius: 8px;
  }
  p.dys {
    color: #2ebb02;
    background: #eaffe4;
    padding: 3px 10px;
    border-radius: 50px;
    font-size: 12px;
}
.headnote{
  display: flex;
  align-items:center;
  justify-content:space-between;
  border-bottom: 1px dashed #cee4fd;
}

}